<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="Signals And Transforms" Language="1033" Version="1.0.0.0" Manufacturer="Brian Tabone" UpgradeCode="F5905D66-299A-4F8F-ACCB-161D63F03C66">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="Product" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
    
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="Signals And Transforms">
          <Directory Id="INSTALLLOCATION" Name=".">
            <Directory Id="ProductComponents"></Directory>
          </Directory>
        </Directory>
			</Directory>
		</Directory>
	</Fragment>
</Wix>
