<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="Signals And Transforms" Language="1033" Version="1.0.0.0" Manufacturer="Brian Tabone" UpgradeCode="F5905D66-299A-4F8F-ACCB-161D63F03C66">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />

		<Feature Id="ProductFeature" Title="Product" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="FileExtensions"/>
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="Signals And Transforms">
          <Directory Id="INSTALLLOCATION" Name=".">
            <Directory Id="ProductComponents"/>
          </Directory>
        </Directory>
			</Directory>
		</Directory>
	</Fragment>

  <Fragment>
    <Component Id="FileExtensions" Directory="TARGETDIR" Guid="{39568E18-4098-44F3-9845-A52DF783A979}">
      <ProgId Id="SignalsAndTransforms.stw" Description="Workbook">
        <Extension Id="stw" ContentType="application/stw">
          <Verb Id="open" Command="Open" TargetFile="fil41798E866BC736CEC72FD22DC3251767" Argument="&quot;%1&quot;" />
        </Extension>
      </ProgId>
    </Component>
  </Fragment>
</Wix>
