<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLLOCATION">
            <Directory Id="dir7E220EDC847AD7F674C92451C63AED27" Name="app.publish" />
            <Directory Id="dir23A3189054C3F25860189BFFABAD824E" Name="Properties" />
            <Directory Id="dir4DC39E28E88A7F1F26918FEF6A2132A1" Name="Resources" />
            <Directory Id="dir0355D6E983C7D0CDACC2DE3CAAF0B5AD" Name="runtimes" />
            <Directory Id="dir7C2C83F6CC8AC47D9022A8AD6554F0C1" Name="x64" />
            <Directory Id="dirE62C75B0DFC66B1F221D6A7BDE116F3B" Name="x86" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="ProductComponents">
            <Component Id="cmpD6F4107DC8601FA4C401EC60CEB883A1" Directory="INSTALLLOCATION" Guid="*">
                <File Id="fil597A2920B009A3C56698D87E56698E40" KeyPath="yes" Source="$(var.SignalsAndTransforms.TargetDir)\Dapper.StrongName.dll" />
            </Component>
            <Component Id="cmp47C16056E9860FDCEC11C39B979ECB01" Directory="INSTALLLOCATION" Guid="*">
                <File Id="filE13C62B0A394AFB7893DA7D528F291DD" KeyPath="yes" Source="$(var.SignalsAndTransforms.TargetDir)\Dapper.StrongName.xml" />
            </Component>
            <Component Id="cmp4B10E81646CCE562AF0E46E688BFC853" Directory="INSTALLLOCATION" Guid="*">
                <File Id="filFF44294415FECC831DE25601A439D708" KeyPath="yes" Source="$(var.SignalsAndTransforms.TargetDir)\Microsoft.Data.Sqlite.dll" />
            </Component>
            <Component Id="cmpA1EB610ECA8F83384AFEC5DBC45853C3" Directory="INSTALLLOCATION" Guid="*">
                <File Id="filDB87960623134FD8BD5598F5862DD598" KeyPath="yes" Source="$(var.SignalsAndTransforms.TargetDir)\Microsoft.Data.Sqlite.xml" />
            </Component>
            <Component Id="cmp40E52104BC4B25BDD82A7C6D3005AD4E" Directory="INSTALLLOCATION" Guid="*">
                <File Id="filBEC2F41C0720FCF60134D40DE58FB42B" KeyPath="yes" Source="$(var.SignalsAndTransforms.TargetDir)\OxyPlot.dll" />
            </Component>
            <Component Id="cmp22BD0ED3240A95C0F0B8E901DDF52457" Directory="INSTALLLOCATION" Guid="*">
                <File Id="filC6344122699E16D07AD19C88339F6D42" KeyPath="yes" Source="$(var.SignalsAndTransforms.TargetDir)\OxyPlot.Wpf.dll" />
            </Component>
            <Component Id="cmp0AC9CC60F127E9E658EA057E7E95B038" Directory="INSTALLLOCATION" Guid="*">
                <File Id="filF298F063DA6ADCDE110693618106485A" KeyPath="yes" Source="$(var.SignalsAndTransforms.TargetDir)\OxyPlot.Wpf.xml" />
            </Component>
            <Component Id="cmp5D3DC3F036CBC6842657E17C8AC2DA6B" Directory="INSTALLLOCATION" Guid="*">
                <File Id="fil2BBC22AD95647E7749EDC03B702A5747" KeyPath="yes" Source="$(var.SignalsAndTransforms.TargetDir)\OxyPlot.xml" />
            </Component>
            <Component Id="cmpFB3737E8187E098DAD797CB7EADD64F0" Directory="INSTALLLOCATION" Guid="*">
                <File Id="fil8967963121C1CE4B91113CD4E248BF30" KeyPath="yes" Source="$(var.SignalsAndTransforms.TargetDir)\SignalProcessor.dll" />
            </Component>
            <Component Id="cmp7991164F90C488FA0D83AAC61776781C" Directory="INSTALLLOCATION" Guid="*">
                <File Id="fil669D6A11DC6B86A723EC26E2F2C3C6A0" KeyPath="yes" Source="$(var.SignalsAndTransforms.TargetDir)\SignalsAndTransforms.application" />
            </Component>
            <Component Id="cmp02C8F5950E33DC582EB00C825C82D7C9" Directory="INSTALLLOCATION" Guid="*">
                <File Id="fil41798E866BC736CEC72FD22DC3251767" KeyPath="yes" Source="$(var.SignalsAndTransforms.TargetDir)\SignalsAndTransforms.exe" />
            </Component>
            <Component Id="cmpF648B4BAF6EDC4B02B53007C85CCD2E0" Directory="INSTALLLOCATION" Guid="*">
                <File Id="fil8DB3A6C0F21A51A924395BBA9AA1B7F5" KeyPath="yes" Source="$(var.SignalsAndTransforms.TargetDir)\SignalsAndTransforms.exe.config" />
            </Component>
            <Component Id="cmpB2DF2D812A1228DE83FE79EB7377F676" Directory="INSTALLLOCATION" Guid="*">
                <File Id="filC29DB2BBB6CA77C742245E5830B43589" KeyPath="yes" Source="$(var.SignalsAndTransforms.TargetDir)\SignalsAndTransforms.exe.manifest" />
            </Component>
            <Component Id="cmp091415C1164C0359AB613D5177286F5E" Directory="INSTALLLOCATION" Guid="*">
                <File Id="fil00CA866528C3A21C2D16018977998576" KeyPath="yes" Source="$(var.SignalsAndTransforms.TargetDir)\SignalsAndTransforms.pdb" />
            </Component>
            <Component Id="cmp42A92977F233D8BCE3AE9CB37B37462F" Directory="INSTALLLOCATION" Guid="*">
                <File Id="fil1F0E67CE324AFC9AC270620FA6683F66" KeyPath="yes" Source="$(var.SignalsAndTransforms.TargetDir)\SQLitePCLRaw.batteries_v2.dll" />
            </Component>
            <Component Id="cmpFD200FCBB86AE3CC14BF9603336DC639" Directory="INSTALLLOCATION" Guid="*">
                <File Id="fil94D4A34BAC99255DBD9526677E1A046A" KeyPath="yes" Source="$(var.SignalsAndTransforms.TargetDir)\SQLitePCLRaw.core.dll" />
            </Component>
            <Component Id="cmp9A1EDBA3FFB8F73A515940B6954242DC" Directory="INSTALLLOCATION" Guid="*">
                <File Id="fil1FBB14A1B9A7ED7778601BE4979A2146" KeyPath="yes" Source="$(var.SignalsAndTransforms.TargetDir)\SQLitePCLRaw.nativelibrary.dll" />
            </Component>
            <Component Id="cmp5954FEB3879B350B945D91D2C4BF29E7" Directory="INSTALLLOCATION" Guid="*">
                <File Id="fil36CD4A5E2AD9939EBC0E02366B42A03E" KeyPath="yes" Source="$(var.SignalsAndTransforms.TargetDir)\SQLitePCLRaw.provider.dynamic_cdecl.dll" />
            </Component>
            <Component Id="cmp2605C5FE51EF1E6A4EDC743EB8447557" Directory="INSTALLLOCATION" Guid="*">
                <File Id="fil8F10FADC38F166ACFA189CE932E2D5CC" KeyPath="yes" Source="$(var.SignalsAndTransforms.TargetDir)\System.Buffers.dll" />
            </Component>
            <Component Id="cmp5F3B442F53D2C5BDA89C5B87A3B89BCD" Directory="INSTALLLOCATION" Guid="*">
                <File Id="fil2D9BD3DFE5D1494DB3A011DF0D670B22" KeyPath="yes" Source="$(var.SignalsAndTransforms.TargetDir)\System.Buffers.xml" />
            </Component>
            <Component Id="cmp6FEA0CD40F07BE97A5C3AFFD38B7DEAB" Directory="INSTALLLOCATION" Guid="*">
                <File Id="filD11BEDBED69403ACF99C84A5B540848A" KeyPath="yes" Source="$(var.SignalsAndTransforms.TargetDir)\System.Memory.dll" />
            </Component>
            <Component Id="cmpBB74CDFF5E05092E2A1275022F98C2B2" Directory="INSTALLLOCATION" Guid="*">
                <File Id="filA4F9FBA205A55EE7F2CA9C344FDCBF59" KeyPath="yes" Source="$(var.SignalsAndTransforms.TargetDir)\System.Memory.xml" />
            </Component>
            <Component Id="cmp6065E1313E95A9473D0FBEAD1BA86B56" Directory="INSTALLLOCATION" Guid="*">
                <File Id="fil00BEA883B436F09BDDB07E047A0E39BC" KeyPath="yes" Source="$(var.SignalsAndTransforms.TargetDir)\System.Numerics.Vectors.dll" />
            </Component>
            <Component Id="cmpEBBE902A7F605461814097581B2E32FE" Directory="INSTALLLOCATION" Guid="*">
                <File Id="fil235FD852454DA79534896BA154A7F14E" KeyPath="yes" Source="$(var.SignalsAndTransforms.TargetDir)\System.Numerics.Vectors.xml" />
            </Component>
            <Component Id="cmpDF45DAEBE3E72EE69B477501E5F5420B" Directory="INSTALLLOCATION" Guid="*">
                <File Id="filC2B6FE49024E92DB1CB539B30330A32C" KeyPath="yes" Source="$(var.SignalsAndTransforms.TargetDir)\System.Runtime.CompilerServices.Unsafe.dll" />
            </Component>
            <Component Id="cmpF8D1134796C61DC018501B4724208A91" Directory="INSTALLLOCATION" Guid="*">
                <File Id="fil80A3E3F4AEEE1B5C525FE41ED37E277A" KeyPath="yes" Source="$(var.SignalsAndTransforms.TargetDir)\System.Runtime.CompilerServices.Unsafe.xml" />
            </Component>
            <Component Id="cmp6B289FB6FD7E4B409201003A1EE25111" Directory="dir7E220EDC847AD7F674C92451C63AED27" Guid="*">
                <File Id="filCC1B442EB56577201C25911A8DDFC55D" KeyPath="yes" Source="$(var.SignalsAndTransforms.TargetDir)\app.publish\SignalsAndTransforms.exe" />
            </Component>
            <Component Id="cmp4DB7D721C46327B66AE9AD062F9F1358" Directory="dir23A3189054C3F25860189BFFABAD824E" Guid="*">
                <File Id="fil7001DBE6CD10F260CD45092D6F3F17BE" KeyPath="yes" Source="$(var.SignalsAndTransforms.TargetDir)\Properties\Resources.Designer.cs" />
            </Component>
            <Component Id="cmp8AD91B68D9163A5C50D2223F3F1DFF11" Directory="dir23A3189054C3F25860189BFFABAD824E" Guid="*">
                <File Id="fil0B8D1017C64D229A540B591FFD5F1428" KeyPath="yes" Source="$(var.SignalsAndTransforms.TargetDir)\Properties\Resources.resx" />
            </Component>
            <Component Id="cmpEE8086C3D74EA59ABD60140FA2BF98D0" Directory="dir68060037CB3A65BFFA047E0A4F5F8BDD" Guid="*">
                <File Id="fil9C7E5A44A9F29A418F4B4A1C5F2DDB4B" KeyPath="yes" Source="$(var.SignalsAndTransforms.TargetDir)\Resources\Filter Kernels\High Pass.csv" />
            </Component>
            <Component Id="cmp671A856E8F37B6FA8B9C84BFF398B0D8" Directory="dir68060037CB3A65BFFA047E0A4F5F8BDD" Guid="*">
                <File Id="fil91B93ED535C0CF890853B389596E95C7" KeyPath="yes" Source="$(var.SignalsAndTransforms.TargetDir)\Resources\Filter Kernels\Low Pass.csv" />
            </Component>
            <Component Id="cmp3599E3D30196EF8E2CD05B52C23E5A65" Directory="dir5BD8302CD95D3B35EEEF7AE57FD463EA" Guid="*">
                <File Id="fil149761084A72A87A4ABA544B46B81A6D" KeyPath="yes" Source="$(var.SignalsAndTransforms.TargetDir)\runtimes\win-arm\native\e_sqlite3.dll" />
            </Component>
            <Component Id="cmpA7E430C824B767D79B7AE7F6FB4BA897" Directory="dirBA99B04660CE2E875EC0DE582AFC3B6C" Guid="*">
                <File Id="fil0B50C9B16FE97E1742546E0AF8E1DF58" KeyPath="yes" Source="$(var.SignalsAndTransforms.TargetDir)\runtimes\win-x64\native\e_sqlite3.dll" />
            </Component>
            <Component Id="cmp257FF9716BCDA16E658231F2D40AC80E" Directory="dir6348BB43D425318EF3764BDFE09686C9" Guid="*">
                <File Id="fil5763F1AD62D4B06C7578E204DA1E15A1" KeyPath="yes" Source="$(var.SignalsAndTransforms.TargetDir)\runtimes\win-x86\native\e_sqlite3.dll" />
            </Component>
            <Component Id="cmp2CC53C18C5BE3BACEE486B4630FB01F0" Directory="dir7C2C83F6CC8AC47D9022A8AD6554F0C1" Guid="*">
                <File Id="fil51445029E4EDF9C9E5349EDA9AB08211" KeyPath="yes" Source="$(var.SignalsAndTransforms.TargetDir)\x64\SQLite.Interop.dll" />
            </Component>
            <Component Id="cmpEAC9E519DF3BB5A407CDD85A4B128AF0" Directory="dirE62C75B0DFC66B1F221D6A7BDE116F3B" Guid="*">
                <File Id="filC47E4271B865893B6BEA412E9318E80D" KeyPath="yes" Source="$(var.SignalsAndTransforms.TargetDir)\x86\SQLite.Interop.dll" />
            </Component>
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirE4FEE21A269AB23817E21E56FC022E75">
            <Directory Id="dir5BD8302CD95D3B35EEEF7AE57FD463EA" Name="native" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirF955CC020CCB158454C9A3D0F730FE77">
            <Directory Id="dir6348BB43D425318EF3764BDFE09686C9" Name="native" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir4DC39E28E88A7F1F26918FEF6A2132A1">
            <Directory Id="dir68060037CB3A65BFFA047E0A4F5F8BDD" Name="Filter Kernels" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirDB69E4427BDD7AA34A9E45C2B8B4E5D2">
            <Directory Id="dirBA99B04660CE2E875EC0DE582AFC3B6C" Name="native" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir0355D6E983C7D0CDACC2DE3CAAF0B5AD">
            <Directory Id="dirDB69E4427BDD7AA34A9E45C2B8B4E5D2" Name="win-x64" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir0355D6E983C7D0CDACC2DE3CAAF0B5AD">
            <Directory Id="dirE4FEE21A269AB23817E21E56FC022E75" Name="win-arm" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir0355D6E983C7D0CDACC2DE3CAAF0B5AD">
            <Directory Id="dirF955CC020CCB158454C9A3D0F730FE77" Name="win-x86" />
        </DirectoryRef>
    </Fragment>
</Wix>